<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th style="text-align: center;">Qté</th>
      <th style="text-align: right;">PU HT</th>
      <th style="text-align: right;">Total HT</th>
      <th style="text-align: right;">TVA</th>
      <th style="text-align: right;">Total TVA</th>
      <th style="text-align: right;">Total TTC</th>
      <% if quote.draft? %>
        <th class="actions"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% quote.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td style="text-align: center;"><%= item.quantity %></td>
        <td style="text-align: right;"><%= number_to_currency(item.unit_price, unit: '€', format: '%n %u') %></td>
        <td style="text-align: right;"><%= number_to_currency(item.total_ht, unit: '€', format: '%n %u') %></td>
        <td style="text-align: right;"><%= number_to_percentage(item.vat_rate, precision: 2) %></td>
        <td style="text-align: right;"><%= number_to_currency(item.total_vat, unit: '€', format: '%n %u') %></td>
        <td style="text-align: right;"><%= number_to_currency(item.total_ttc, unit: '€', format: '%n %u') %></td>
        <% if quote.draft? %>
          <td class="actions">
            <%= link_to edit_quote_item_path(quote, item), class: 'icon-btn', title: 'Éditer' do %>&#9998;<% end %>
            <%= button_to quote_item_path(quote, item),
                          method: :delete,
                          form: { data: { turbo_confirm: 'Supprimer cet item ?' }, style: 'display:inline;' },
                          class: 'icon-btn delete',
                          title: 'Supprimer' do %>&#128465;<% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
